$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  background-color: white;
  height: 55%;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.product-img {
  height: 100%;
}

.product-details {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}


.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: thin;
}

.product-name {
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 30px;
}

.product-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.prices {
display: flex;
justify-content: space-between;
align-items: center;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  font-weight: 500;
}

.previous-price {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}

.button {
  font-family: 'Montserrat', sans-serif;
}