

.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  margin: auto;
  background-color: white;
  height: 55%;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.product-img {
  height: 100%;
}

.product-details {
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.prices {
display: flex;
justify-content: space-evenly;
}

.header {
  font-family: 'Montserrat', sans-serif;
}

.product-name {
  font-family: 'Fraunces', serif;
}

.product-description {
  font-family: 'Montserrat', sans-serif;
}

.current-price {
  font-family: 'Fraunces', serif;
}

.previous-price {
  font-family: 'Montserrat', sans-serif;
}

.button {
  font-family: 'Montserrat', sans-serif;
}