

.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  margin: auto;
  background-color: white;
  height: 55%;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;

}

.product-img {
  height: 100%;
}

.product-details {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.prices {
display: flex;
justify-content: space-evenly;
}

.header {
  padding: 0, 0, 50px, ;
}